@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-zinc-0: rgb(250 249 248);
  --color-zinc-50: rgb(249 247 246);
  --color-zinc-100: rgb(247 245 244);
  --color-zinc-200: rgb(238 235 234);
  --color-zinc-300: rgb(218 214 213);
  --color-zinc-400: rgb(175 172 171);
  --color-zinc-500: rgb(112 110 109);
  --color-zinc-600: rgb(68 67 66);
  --color-zinc-700: rgb(46 45 45);
  --color-zinc-800: rgb(35 34 34);
  --color-zinc-900: rgb(31 30 30);
  --color-zinc-950: rgb(24 23 23);
  --color-zinc-1000: rgb(17 16 16);

  --color-foreground: hsl(0 0% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 3.9%);
  --color-primary: hsl(0 0% 9%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(0 0% 96.1%);
  --color-secondary-foreground: hsl(0 0% 9%);
  --color-muted: hsl(0 0% 96.1%);
  --color-muted-foreground: hsl(0 0% 45.1%);
  --color-accent: hsl(0 0% 96.1%);
  --color-accent-foreground: hsl(0 0% 9%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
}

@layer base {
  @variant dark {
    --color-foreground: hsl(0 0% 98%);
    --color-popover: hsl(0 0% 3.9%);
    --color-popover-foreground: hsl(0 0% 98%);
    --color-primary: hsl(0 0% 98%);
    --color-primary-foreground: hsl(0 0% 9%);
    --color-secondary: hsl(0 0% 14.9%);
    --color-secondary-foreground: hsl(0 0% 98%);
    --color-muted: hsl(0 0% 14.9%);
    --color-muted-foreground: hsl(0 0% 63.9%);
    --color-accent: hsl(0 0% 14.9%);
    --color-accent-foreground: hsl(0 0% 98%);
    --color-destructive: hsl(0 62.8% 30.6%);
    --color-destructive-foreground: hsl(0 0% 98%);
  }
}
